<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="defaultProviderConnectionString"
               connectionString="Data Source=sanfrancisco\mssql2012dev; Initial Catalog=SyncDB; uid=sa; pwd=L3tme1n"
               providerName="System.Data.SqlClient"/>
      <add name="defaultClientConnectionString"
               connectionString="Data Source=BRANSON\SQLEXPRESS; Initial Catalog=SyncDBLocal; uid=sa ; pwd=L3tme1n"
               providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>